---
import "../styles/global.css";
import Nav from "../components/navbar.astro";
import Head from "../components/head.astro";
import Container from "../components/container.astro";
import Footer from "../components/footer.astro";
import Hero from "../components/Hero.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<html lang="en">
    <Head />
    <body>
        <Nav highlighted="navhome" />
        <Hero />
        <Container>
            <h1>What do we do?</h1>
            <p>
                We design games, add-ons and other experiences, mostly centering
                around pushing the limits of the provided game engine.
            </p>
        </Container>
        <Container>
            <h1>What are we?</h1>
            <p>
                We are couple of passionate developers who create complex and
                intricate game systems and software, focusing on innovation and
                technical depth.
            </p>
        </Container>
        <Container id="projects">
            <h1>Our Projects</h1>
            <ProjectCard
                title="LunaTech"
                description="A programming and automation centered Minecraft Bedrock Add-On, not only having a proper energy API, but also utilizing a full programming language inside of it for microcontroller programming."
                videoId="Pb-wQ5BLi1o"
                secondVideoId="EObQssoHALM"
            />
            <ProjectCard
                title="BedPak"
                description="A simple API for Minecraft Bedrock Add-On management, providing tools and utilities for modders."
                link="https://bedpak.com/"
                linkText="Visit BedPak Frontend"
            />
            <ProjectCard
                title="Weboneko"
                description="Currently under construction."
            />
            <ProjectCard
                title="PanSpark"
                description="A tiny programming language for JavaScript environments, primarily used in our projects for microcontrollers."
                link="/panspark-editor.html"
                linkText="Try the Editor"
            />
        </Container>
        <Container>
            <h1>Documentation & Wiki</h1>
            <p>Explore detailed documentation, tutorials, and technical references for our projects in the Verpitek Wiki.</p>
            <a href="/wiki" class="wiki-cta">Go to Wiki</a>
        </Container>
        <Footer />
    </body>
</html>
