---
import "../styles/global.css";
import Head from "../components/head.astro";
---
<html lang="en">
    <Head />
    <head>
        <meta http-equiv="refresh" content="0; url=/wiki/lunatech" />
    </head>
    <body>
        <p>Redirecting to <a href="/wiki/lunatech">LunaTech Wiki</a>...</p>
    </body>
</html>
