---

---

<div class="container">
    <slot />
</div>

<style>
    .container {
        padding: 2rem;
        background: #222;
        border: 1px solid #333;
        text-align: left;
        margin-bottom: 2rem;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    @media (max-width: 768px) {
        .container {
            padding: 1.5rem;
            margin-left: 2vw;
            margin-right: 2vw;
        }
    }
</style>
