---

---

<div class="footer">
    <div class="footer-content">
        <nav class="footer-links" aria-label="Footer navigation">
            <a class="footer-link"
                href="https://discord.gg/fyNQNrr7dC"
                target="_blank"
                rel="noopener noreferrer">Discord Community</a
            >
        </nav>
        <div class="footer-divider"></div>
        <p>© 2026 Verpitek, MB. All rights reserved.</p>
    </div>
</div>

<style>
    .footer {
        background: #222;
        border: 1px solid #333;
        padding: 30px;
        text-align: center;
        color: #888;
        margin-top: 40px;
        margin-left: 5vw;
        margin-right: 5vw
    }
    .footer-link {
        text-decoration: none;
        color: #aa75ff;
    }
</style>
