---
const { highlighted = undefined } = Astro.props;
---

<div class="navbar" data-message={highlighted}>
    <a href="/" class="navbar-logo">
        <img
            class="navbar-img"
            src="/verpitek.svg"
            alt="main Verpitek Logo"
            transition:persist="logo"
        />
    </a>
    <a class="navlink" id="navhome" href="/" data-astro-prefetch>Home</a>
    <a class="navlink" id="navwiki" href="/wiki" data-astro-prefetch>Wiki</a>
    <a class="navlink" id="navabout" href="/about" data-astro-prefetch>About</a
    >
</div>

<style>
    .navbar {
        display: flex;
        padding-bottom: 16px;
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
        gap: 10px;
        align-items: center;
        margin-left: 5vw;
        margin-right: 5vw
    }

    .navlink {
        text-decoration: none;
        color: papayawhip;
    }

    .navbar-logo {
        display: flex;
        align-items: center;
    }

    .navbar-img {
        height: 64px;
    }
</style>

<script>
    function highlight() {
        const nav = document.querySelector(".navbar");
        if (!nav) return;
        const message = nav.getAttribute('data-message');
        if (message) {
            const element = document.getElementById(message);
            if (element) {
                element.style.color = "#e1ff00";
            }
        }
    }
    highlight();
    document.addEventListener('astro:after-swap', highlight);
</script>
